@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&family=Squada+One&display=swap');

*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Mina", sans-serif;
}
body>*{
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Squada One", sans-serif;
}
a{
    text-decoration: none;
}
main,body>section, footer{
    width: 90%;
    justify-self: center;
    margin: 1rem 0 0 0;
}
.pistas-mainart{
    margin: 1rem;
}
#best-selection{
    display: flex;
    flex-wrap: wrap;
}
.main-card{
    width: 30%;
    margin: .5rem;
    padding: .5rem;
}
.card-title{
    margin-top: .5rem;
    border-radius: .5rem;
}
#pistas{
    margin-top: 1rem;
}
fieldset{
    margin: 1rem;
    padding: 1rem;
    border: 2px solid gray;
    border-radius: 1rem;
}
leyend{
    font-size: 1.5rem;
    font-family: "Squada One", sans-serif;
}
header{
    width: 100%;
    height: clamp(30vh , 45vh, 50vh);
    background-image: url(https://images.pexels.com/photos/3176056/pexels-photo-3176056.jpeg);
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}
header>h1+header>h6{
    display: flex;
    justify-self: center;
}
#title{
    font-size: 7rem;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}
#sub-title{
    letter-spacing: 2rem;
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 4;
}
.nav-bar{
    width: 100%;
    height: clamp(2rem, 3rem, 4rem);
    display: flex;
    justify-content: space-around;
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 5;
}
/*===================== footer =====================*/
footer{
    margin: 1rem 0 0 0;
    text-align: start;
    display: flex;
}
#container-helpuser{
    width: 50vw;
    justify-self: start;
}
#footer-info{
    margin: 1rem 0 1rem 0;
    justify-self: end;
}
#form-helpuser{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}
#form-cell1 {
    grid-column: span 2 / span 2;
}
#form-cell2 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
}
#form-cell3 {
    grid-column: span 4 / span 4;
    grid-row-start: 2;
}
#form-cell4 {
    grid-column: span 4 / span 4;
    grid-row-start: 3;
}
#form-cell5 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}